#navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    height: 15vh;
}

#logo{
    width: 30%;
    align-items: center;
    color: orange;
}

#navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    border: 2px solid black;
}

#navbar ul li a {
    border: 2px solid black;
    background-color: orangered;
    color:white;
}

.contenedor{
    vertical-align: text-bottom;
}

img.alineado{
    width: 100%;
    height: 700px;
}

.productos-estilo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}