body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    height: 100px;
    background-color: #e2e2e2;
}

#logo{
    width: 30%;
    align-items: center;
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

#navbar ul li a {
    color:blue;
}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;

}

img{
    width: 100%;
    height: 500px;
}

.productos-estilo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
}

.pie{
    display: flex;
    color:blue ;
    background-color: #e2e2e2;
    height: 80px;
    align-items: center;
    font-size:xx-large;
    padding-left: 33%;
}

#titulo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.enviar{
    display: flex;
    flex-direction: row;
}

#btnEnviar{
color: green;
margin: 5px;
}

#btnEliminar{
color: red;
margin: 5px;
}