.clase1{
    background-color: green;
    font-family:'Times New Roman', Times, serif ;
}

.clase2{
    background-color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}